.login-page {
    display: flex;
    min-height: 100vh;
    background: #eef3fb;
}

.left-panel {
    flex: 1;
    background: linear-gradient(135deg, #0d47a1, #1565c0);
    color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 60px;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background: white;
    color: #1565c0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

}

.content h1 {
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px;
}

.subtitle {
    font-size: 20px;
    opacity: .9;
    margin-bottom: 50px;
    max-width: 520px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.feature mat-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 480px;
    padding: 40px;
    border-radius: 20px;
}

.login-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #e8f0fe;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.login-icon mat-icon {
    font-size: 45px;
    color: #1565c0;
}

.login-card h2 {
    text-align: center;
    margin-bottom: 5px;
}

.welcome {
    text-align: center;
    color: gray;
    margin-bottom: 30px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

}

.options a {
    text-decoration: none;
    color: #1565c0;
    font-size: 14px;
}

.login-btn {
    width: 100%;

    height: 50px;

    font-size: 18px;

}

@media(max-width:992px) {

    .left-panel {

        display: none;

    }

    .right-panel {

        width: 100%;

    }

    .login-card {

        width: 90%;

    }

}